*{margin: 0; padding: 0;}
h1{font-size: 60px; text-align: center;}
p{font-size: 18px; text-align: center;}
a{text-decoration: none; color: #000; font-weight: 700; margin: 20px auto; padding: 10px 20px; display: block; max-width: fit-content; text-align: center;}
.wrapper{max-width: 1400px; width: 100%; margin: 0 auto;}
.content{height: 100vh;  scroll-snap-align: start; }
.content1{background: purple;}
.content2 {background: teal; }
.content3{background: skyblue;}
.content4{background: green;}

#snapping{scroll-snap-type: y mandatory; overflow-y: scroll; height: 100vh;}

/* for margining top */
.header{scroll-padding-top: 10px;}

#loader > div {   position: absolute;   left: 50%;   top: 50%; }
#loader {   position: fixed;   background: #000;   color: #fff;   width: 100%;   height: 100%; }